@media (max-width: 935px) {
  .nav {
    display: none;
  }
  .burger-menu {
    display: flex;
  }
  .main {
    flex-direction: column-reverse;
  }
  .main-content {
    text-align: center;
  }
  .product {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .product-cart {
    align-items: center;
    gap: 10px;
  }
  .product-cart h2 {
    text-align: center;
  }
  .product-cart p {
    text-align: center;
  }
}
