* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%px;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 550px) {
    padding-inline: 20px;
  }
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-top img {
  width: 100%;
  max-width: 40px;
}
.header-top h2 {
  width: 100%;
  font-size: clamp(1.063rem, 0.767rem + 1.48vw, 1.875rem);
  font-weight: 700;
}
.nav {
  display: flex;
  align-items: center;
  gap: 35px;
}
.nav a {
  font-size: 16px;
  font-weight: 500;
  color: #22343d;
}
.nav button {
  padding: 8px 16px;
  border-radius: 6px;
}
.sign-in {
  background: none;
  color: #173a;
}
.sign-up {
  background: #02897a;
  color: #fff;
  border: none;
}
.burger-menu {
  display: none;
}
.burger-menu ion-icon {
  font-size: 24px;
}
#main {
  padding-block: 40px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-content h1 {
  width: 100%;
  font-size: clamp(1.75rem, 1.477rem + 1.36vw, 2.5rem);
  font-weight: 700;
  line-height: clamp(2.225rem, 1.193rem + 3.41vw, 3.75rem);
  color: #22343d;
}
.main-content p {
  width: 100%;
  max-width: clamp(21.875rem, 19.602rem + 11.36vw, 28.125rem);
  font-size: clamp(1.25rem, 1.295rem + -0.23vw, 1.125rem);
  font-weight: 400;
  line-height: 28px;
  color: #22343d;
}
.main-content button {
  width: 100%;
  padding: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem);
  max-width: 180px;
}
.main-year {
  display: flex;
  gap: 14px;
}
.main-year button:first-child {
  background: #02897a;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 600;
}
.main-year button:last-child {
  display: flex;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 600;
  color: #02897a;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  text-decoration: underline;
}
.main img {
  width: 100%;
  max-width: clamp(18.75rem, 13.068rem + 28.41vw, 34.375rem);
}
#poduct {
  padding-block: 60px;
}
.product-content {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
.product-content h1 {
  width: 100%;
  text-align: center;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  color: #22343d;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-cart {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-cart img {
  width: 100%;
  max-width: 50px;
}
.product-cart h2 {
  width: 100%;
  font-size: 20px;
  font-weight: 500px;
  color: #22343d;
}
.product-cart p {
  width: 100%;
  max-width: 220px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
  padding-bottom: 60px;
}
.product-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.product-button button {
  width: 100%;
  max-width: 190px;
  padding: 10px;
  background: #02897a;
  color: #fff;
  border: none;
  border-radius: 4px;
}
#cart {
  padding-block: 80px;
}
.cart {
  display: flex;
  align-items: center;
  gap: 80px;
}
.cart-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-content h3 {
  width: 100%;
  font-size: clamp(1.063rem, 1.017rem + 0.23vw, 1.188rem);
  font-weight: 600;
  color: #22343d;
}
.cart-content h1 {
  width: 100%;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  color: #22343d;
}
.cart-content p {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
}
.cart-year {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart-year h4 {
  width: 100%;
  font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
  font-weight: 600;
  color: #22343d;
}
.cart-year p {
  width: 100%;
  color: #22343d;
}
.cart img {
  width: 100%;
  max-width: clamp(23.75rem, 21.023rem + 13.64vw, 31.25rem);
}
#support {
  padding-block: 60px;
}
.support {
  display: flex;
  align-items: center;
  gap: 80px;
}
.support img {
  width: 100%;
  max-width: clamp(23.75rem, 21.023rem + 13.64vw, 31.25rem);
}
.support-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.support h3 {
  width: 100%;
  font-size: clamp(1.063rem, 1.017rem + 0.23vw, 1.188rem);
  font-weight: 600;
  color: #22343d;
}
.support h1 {
  width: 100%;
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
  color: #22343d;
}
.support p {
  width: 100%;
  max-width: 470px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
}
.support-cart {
  display: flex;
  align-items: center;
  gap: 15px;
}
.support-cart ion-icon {
  width: 100%;
  background-color: #ff9900;
  color: #fff;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}
.support-cart p {
  width: 100%;
  max-width: 320px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
}
.support-cart2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.support-cart2 ion-icon {
  width: 100%;
  background-color: #f03e3d;
  color: #fff;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}
.support-cart2 p {
  width: 100%;
  max-width: 320px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
}
.support-cart3 {
  display: flex;
  align-items: center;
  gap: 15px;
}
.support-cart3 ion-icon {
  width: 100%;
  background-color: #4d8dff;
  color: #fff;
  border-radius: 100%;
  height: 45px;
  width: 45px;
}
.support-cart3 p {
  width: 100%;
  max-width: 320px;
  font-size: 16px;
  font-weight: 300px;
  color: #22343d;
}
